body {
  margin:0px;
  background-color:rgba(229, 224, 230, 1);
  background-image:none;
  position:static;
  left:auto;
  width:922px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:552px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6212 {
  position:absolute;
  left:55px;
  top:198px;
  width:375px;
  height:552px;
}
#u6213 {
  position:absolute;
  left:2px;
  top:268px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6214_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:440px;
  height:876px;
}
#u6214 {
  position:absolute;
  left:25px;
  top:25px;
  width:430px;
  height:866px;
}
#u6215 {
  position:absolute;
  left:2px;
  top:425px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6216 {
  position:absolute;
  left:54px;
  top:126px;
  width:377px;
  height:669px;
}
#u6217 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6218 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(61, 66, 80, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6219 {
  position:absolute;
  left:55px;
  top:126px;
  width:375px;
  height:27px;
}
#u6220 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u6221 {
  position:absolute;
  left:62px;
  top:134px;
  width:360px;
  height:11px;
}
#u6222 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u6224 {
  position:absolute;
  left:55px;
  top:153px;
  width:375px;
  height:134px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u6225 {
  position:absolute;
  left:0px;
  top:59px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:45px;
}
#u6226 {
  position:absolute;
  left:351px;
  top:153px;
  width:79px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
  line-height:24px;
}
#u6227 {
  position:absolute;
  left:2px;
  top:14px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6228 {
  position:absolute;
  left:55px;
  top:750px;
  width:375px;
  height:45px;
}
#u6229 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6230 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u6231 {
  position:absolute;
  left:232px;
  top:755px;
  width:22px;
  height:19px;
}
#u6232 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6233 {
  position:absolute;
  left:224px;
  top:777px;
  width:37px;
  height:16px;
  font-size:12px;
}
#u6234 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u6236 {
  position:absolute;
  left:94px;
  top:755px;
  width:22px;
  height:19px;
}
#u6237 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6238 {
  position:absolute;
  left:87px;
  top:777px;
  width:37px;
  height:16px;
  font-size:12px;
}
#u6239 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:11px;
}
#u6240 {
  position:absolute;
  left:357px;
  top:759px;
  width:40px;
  height:11px;
}
#u6241 {
  position:absolute;
  left:2px;
  top:-2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6242 {
  position:absolute;
  left:365px;
  top:776px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u6243 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6244 {
  position:absolute;
  left:55px;
  top:308px;
  width:375px;
  height:47px;
  text-align:left;
}
#u6245 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u6246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6246 {
  position:absolute;
  left:204px;
  top:186px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6247 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
}
#u6248 {
  position:absolute;
  left:204px;
  top:237px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
}
#u6249 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:82px;
}
#u6250 {
  position:absolute;
  left:94px;
  top:179px;
  width:78px;
  height:82px;
}
#u6251 {
  position:absolute;
  left:2px;
  top:33px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u6252 {
  position:absolute;
  left:384px;
  top:208px;
  width:13px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6253 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6254 {
  position:absolute;
  left:55px;
  top:414px;
  width:375px;
  height:47px;
  text-align:left;
}
#u6255 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u6256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6256 {
  position:absolute;
  left:55px;
  top:362px;
  width:375px;
  height:47px;
  text-align:left;
}
#u6257 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u6258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.709803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6258 {
  position:absolute;
  left:112px;
  top:509px;
  width:262px;
  height:47px;
}
#u6259 {
  position:absolute;
  left:2px;
  top:16px;
  width:258px;
  word-wrap:break-word;
}
#u6260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6260 {
  position:absolute;
  left:189px;
  top:914px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6261 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6262 {
  position:absolute;
  left:547px;
  top:117px;
  width:375px;
  height:667px;
}
#u6263 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6264 {
  position:absolute;
  left:698px;
  top:900px;
  width:151px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6265 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
